/*
    ORGANISATIONS
*/

body {
    background : linear-gradient(#171717 100vh, #1f3847, #5150a5, #1b7ec0);
}

.page-content {
    display        : flex;
    flex-wrap      : wrap;
}

.org-blurb {
    padding    : 1rem 2rem;
    font-size  : 1.25rem;
    margin-top : 4rem;
    box-shadow : 2px 2px 1rem rgba(0, 0, 0, 0.33);
    color      : #eee;
    flex: 0 1 66.6%;
}

.org-blurb .section-wrapper {
    width     : 50%;
    min-width : 35rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 650px) {
    .org-blurb {
        flex: 1 0 100%;
        margin-top: 2rem;
    }

    .org-blurb .section-wrapper {
        width: 100%;
        min-width: 100%;
    }
}

.org-blurb__logo {
    height: 5rem;
}

.org-blurb:nth-of-type(2n) .org-blurb__logo {
    left  : initial;
    right : -5rem;
}

.org-blurb h2 {
    flex: 1;
    text-align: right;
}

.org-blurb__more-info {
    text-decoration : none;
    color           : inherit;
    display         : inline-block;
    border          : 1px solid;
    padding         : 0.25rem 0.33rem;
}

/* Save the children */

.org-blurb--save-children {
    background   : #333;
    color        : #eee;
    margin-right : auto;
    margin-top   : -3rem;
}

.org-blurb--save-children .section-wrapper {
    margin-left: auto;
}

.org-blurb--save-children h2 {
    color      : #F00;
}

.org-blurb--save-children .org-blurb__more-info {
    margin-left: auto;
}

/* Berry street */

.org-blurb--berry-street {
    background  : #29526a;
    color       : #eee;
    margin-left : auto;
}

.org-blurb--berry-street h2 {
    color : #facf5a;
}

/* Canteen */

.org-blurb--canteen {
    background   : #7170b2;
    margin-right : auto;
}

.org-blurb--canteen .section-wrapper {
    margin-left: auto;
}

.org-blurb--canteen h2 {
    color      : #8dc63f;
}

.org-blurb--canteen .org-blurb__more-info {
    margin-left: auto;
}

/* Unicef */

.org-blurb--unicef {
    background  : #1794e7;
    margin-left : auto;
}

.org-blurb--unicef h2 {
    color : #ff0;
}
